.wrap{
	background: green;
	width: 1331px;
	margin: 0px;
}
.wrap .header{
	background:#80DEEA;
	height: 70px;
	padding: 2px 15px;
}
.wrap .menu{
	background: red;
}
 
.wrap .menu ul{
	padding: 0;
	margin: 0;
	background: #B9F6CA;
	overflow: hidden;
}
 
.wrap .menu ul li{
	list-style-type: none;margin: 0;padding:0; overflow: hidden;}
	li
{
	float: left;
}
	a:link,a:visited
{
	display: block;font-weight: bold;
	color: black;
	width:120px; text-align: center;
	padding: 4px;
	text-decoration:none;
	text-transform: uppercase;
}
	a:hover,a:active
{
	background-color: #7a991a;
}
.badan{
	height: 435px;
}
.wrap .badan .sidebar{
	background: gray;
	float: left;	
	width: 10%;
	height: 113%;
}
.wrap .badan .content{
	background:#9E9D24;
	float: right;
	height: 113%;
	width: 90%;	
}
.wrap .footer{
	width: 100%;
	padding: 5px;
}